.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.logo {
  height: 68px;
  width: 95.5px;
  margin: 0px auto 0px 28px;
}

.nav-text {
  font-family: "Barlow", monospace;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.66px;
  line-height: 32px;
  margin-right: 60px;
}

.book-btn {
  width: 160px;
  height: 50px;
  border: 0;
  background-size: 100%;
  background-image: url("../images/btn_book_big@2x.png");
  margin-right: 60px;
}

.lang {
  width: 62.37px;
  height: 30px;
  margin-right: 40.03px;
}
